extends layout
block content
  section.about
    .wave.wave--top
    .aboutme
      .container
        h3 Hi, I’m Ayoub. Nice to meet you.
        p
          | Since beginning my journey as a freelance designer nearly 8 years ago, I've done remote work for agencies,
          | consulted for startups, and collaborated with talented people to create digital products for both business
          | and
          | consumer use. I'm quietly confident, naturally curious, and perpetually working on improving my chops one
          | design problem at a time.
    .skills
      .core
        h3 core
        span
          span JavaScript
          span PHP
          span MySQL
          span Node.js
          span HTML5
          span Mobile & Responsive Design
      .libraries
        h3 libraries
        span
          span React.js
          span Vue.js
          span Express
          span Gulp
          span jQuery
      .dev__tools
        h3 dev tools
        span
          span Bootstrap
          span Codepen
          span Github
          span Gitlab
          span Terminal
  section.projects
    h3 My Works
    span
      | Here are a few projects. Want know about it?
      a(href='mail:gemouhi@gmail.com') Email me.
    .projects__all
      div
        img(src='/images/supbill.png')
      div
        img(src='https://via.placeholder.com/150')
      div
        img(src='https://via.placeholder.com/150')
      div
        img(src='https://via.placeholder.com/150')
      div
        img(src='https://via.placeholder.com/150')
      div
        img(src='https://via.placeholder.com/150')
  section.investing
    h3 Interested in collaborating or investing?
    span I’m always open to discussing product design work or partnership opportunities.
    button(onclick="window.location.href='/contact'") Start a conversation